<%= stylesheet_link_tag "rouge-github" %>

<div class="panel panel-default">
  <div class="panel-heading"><b><%= current_path %></b></div>
  <div class="panel-body">
    <%= rendered_text.html_safe %>
  </div>
</div>

<%= link_to 'Back', [repository.owner, repository] %>
