<% if repositories.empty? %>
	<% if current_user %>
		<h3>You don't have any repositories yet. Click below to create your first!</h3>
	<% else %>
		<h3>No public repositories available at this time.</h3>
	<% end %>
<% else %>
	<div class="panel panel-default">
	  <div class="panel-heading"><b>My repositories</b></div>

		<table class='table table-striped table-hover'>
			<thead>
				<tr>
					<th>Name</th>
					<th>Roles</th>
				</tr>
			</thead>

			<tbody>
				<% repositories.each do |repository| %>
					<% if repository.valid? && can?(:read, repository) then %>
					<tr>
						<td><%= link_to repository.name, [repository.owner, repository] %></td>
						<td><%= raw role_description(repository).map {|r| label_tag("#{r}", r.to_s.capitalize, class: 'label', style: "color: white; background-color:lightgrey")}.join(" ") %></td>
					</tr>
					<% end %>
			  <% end %>
		</table>
	  </div>
	<br />
<% end %>
<%= link_to "New Repository", new_user_repository_path(current_user), :class => "btn btn-primary" if current_user %>
