<h1>Listing repositories</h1>

	<table class='table table-striped table-border table-hover'>
		<thead>
			<tr>
				<th>Name</th>
				<th>Roles</th>
				<th>Actions</th>
			</tr>
		</thead>

		<tbody>
			<% @repositories.each do |repository| %>
			<% if repository.valid? && can?(:read, repository) then%>
			<tr>
				<td><%= link_to repository.name, repository %></td>
				<td><%= role_description(repository).map {|x| x.to_s.capitalize}.join("; ") %></td>
				<td><%= link_to "Edit", edit_repository_path(repository), :class => "btn btn-primary btn-sm" %></td>
			</tr>
			<% end %>
			<% end %>
	</table>
<br />

<%= link_to "New Repository", new_repository_path, :class => "btn btn-primary" %>