<div>
	<table>
	  <tr>
	    <th align='left'>Key</th>
	    <th align='left'>Value</th>
  	  </tr>
	<% @smtp_settings.each do |key, value| %>
		<tr>
			<td><label class='label' for="smtp_settings[<%= key %>]"> <%= key %></label></td>
			<td align='left'><label class='label' for="smtp_settings[<%= key %>]"> <%= value %></label></td>
		</tr>
	<% end %>
	</table>
</div>