<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>A commit was made to <%= @repository.name %></h1>
    <p>The details of commit <%= @commit.id %> are below.</p>
  </body>
</html>