<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Repository <%= @repository.name %> was just created.</h1>
    <p>To start adding content, you can clone the repository locally with the following command:
	<i>git clone <%= @repository.clone_url %></i>
	If you run into any problems along the way, contact your repotag administrator.
	</p>
  </body>
</html>