<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear <%= @user.name %>,
	
	If you have received this email, that means that your smtp configuration is set up properly. Congratulations!</p>
  </body>
</html>