<div class="sidebar-nav">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-collapse collapse sidebar-navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"><i class="fa fa-chevron-left"></i> <i class="fa fa-chevron-right"></i></a></li>
		<% if general_settings[:enable_issuetracker] == "1" %>
        	<%= raw "<li><a href='#'><i class='fa fa-exclamation-circle fa-2x'></i></a></li>" %> <!-- <span class="badge">42</span> -->
		<% end %>
		<% if general_settings[:enable_wikis] == "1" %>
			<%= raw "<li><a href='#{}'><i class='fa fa-book fa-2x'></i></a></li>" %>
		<% end %>
        <li><a href=<%= user_repository_settings_path(@repository.owner, @repository) %> <i class="fa fa-cog fa-2x"></i></a></li>
      </ul>
    </div>
  </div>
</div>
